body {
  font-family: Helvetica;
  text-align: center;
}

.test {
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/Broadway/Resources/images/the-flatiron-building(1).png");
  background-size: cover;
  background-position: center;
}


h1 {
  font-size:  70px;
  font-weight: bold;
  color: white;
  }

a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica;
    }

h2 {
  font-size: 32px;
  font-weight: bold;
}

.designed {
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/Broadway/Resources/images/the-flatiron-building(1).png");
  color: white;
  background-position: center;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {font-size: 14px;}

.second li {
  display: inline;
  }

.gray {
  background-color: dimgray;
  text-align: left;
}

.footer, .second {
  display: inline;
  }

.footer, .second a {
  color: white;
  font-size: 11px;
  font-family: Helvetica;
  }
